<h3 class="title">资料</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="files\NumOpt\01_Slides_Grad_NumOpt.pdf">
            01_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\02_1_Slides_Grad_NumOpt.pdf">
            02_1_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\02_2_Slides_Grad_NumOpt.pdf">
            02_2_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\02_3_Slides_Grad_NumOpt.pdf">
            02_3_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\03_1_Slides_Grad_NumOpt.pdf">
            03_1_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\03_2_Slides_Grad_NumOpt.pdf">
            03_2_Slides_Grad_NumOpt.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="https://epubs.siam.org/doi/abs/10.1137/0726042">
            A tool for the analysis of quasi-newton methods with application to unconstrained minimization, Byrd, R. H., Nocedal, J., SIAM, 1989</a>
    </li>
    <li>
        <a class="text-primary" href="https://doi.org/10.1137/1.9781611974997">
            First-order methods in optimization, Amir, SIAM, 2017</a>
    </li>
    <li>
        <a class="text-primary" href="https://doi.org/10.1007/978-0-387-40065-5">
            Numerical Optimization, J. Nocedal, S. J. Wright, Springer, second edition, 2006</a>
    </li>
    <li>
        <a class="text-primary" href="https://arxiv.org/abs/1503.01243">
            A Differential Equation for Modeling Nesterov's Accelerated Gradient Method: Theory and Insights, Advances in Neural Information Processing Systems, Su, W., S. Boyd, and E. J. Candes, 2015.</a>
    </li>
</ul>

<h3 class="title">作业</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="files\NumOpt\NumOptHomeworkGr01.pdf">
            NumOptHomeworkGr01.pdf</a>
    </li>
    <li>
        <a class="text-primary" href="files\NumOpt\NumOptProgramGr01.pdf">
            NumOptProgramGr01.pdf</a>
    </li>
    
</ul>

<h3 class="title">代码</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="templates\opt_homework\work01\Program01.html">
            Program01.m</a>
    </li>
</ul>