<h3 class="title">资料</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="https://doi.org/10.1007/978-3-540-85268-1">
            Numerical Approximation of Partial Differential Equations, Alfio M. Quarteroni, Alberto Valli, Springer, 2008</a>
    </li>
    
</ul>

<h3 class="title">作业</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="">
            暂无</a>
    </li>
</ul>

<h3 class="title">代码</h3> <hr>
<ul>
    <li>
        <a class="text-primary" href="">
            暂无</a>
    </li>
</ul>